// codigo aquí
/* NAV */

.menu {
    height: 7rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: initial;
    z-index: 100;
    background-color: $almostWhite;
}

.scroll-header {
    box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    @include desktop {
        justify-content: start;
    }
}

.menu__logo {
    color: #242329;
    font-size: 1.5rem;
    width: 10rem;
    font-weight: 500;
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: flex-start;
}



.menu__btns {
    display: flex;
    align-items: center;
}

.menu__hamburger {
    display: flex;
    color: #242329;
    font-size: 2.5rem;
    cursor: pointer;
    @include desktop {
        display: none;
    }
}

.menu__hamburger:hover {
    color: $mediumGray
}

.menu__items {
    position: fixed;
    max-width: 24rem;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    background-color: $almostWhite;
    margin: 0;
    padding: 2rem 0 4rem;
    box-shadow: -1px 0px 5px rgb(0 0 0 / 15%);
    transition: .4s;
    padding: 2rem;
    list-style-type: none;
    .menu__list{
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
        padding: 0;
        @include desktop {
            display: flex;
            flex-direction: row;
            margin-top: 0;
            width: inherit;
            justify-content: space-between;
        }
        img {
            max-width: 7rem;
        }
    }
    @include desktop {
        position: inherit;
        display: flex;
        max-width: 100%;
        background-color: gray;
        box-shadow: none;
    }
}
.menu__item {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    cursor: pointer;
    details {
        &[open] summary::after {
            content: url(/assets/icon-arrow-up.svg);
        }
        summary {
            list-style: none;
            &::after {
                content: url(/assets/icon-arrow-down.svg);
                margin-left: 1rem;
            }
        }
        :nth-child(2) {
            margin-top: 1.5rem;
        }
        .menu__link {
            display: flex;
            align-items: center;
            margin-left: 1.5rem;
            gap: .5rem;
            height: 4rem;
            color: $almostBlack;
            font-size: 1.6rem;
            &:hover {
                background-color: rgba(236, 236, 236, 0.788);
                border-radius: 0;
                color: var(--azul-principal);
            }
        }

        .menu__icon {
            width: 2rem;
            padding: 1rem;
        }
    }
    @include desktop {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50rem;
    }
}

.menu__form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        margin-top: 0;
    }
    .btn {
        width: 100%;
        padding: 1rem;
        border-radius: 1.5rem;
        margin-bottom: 1rem;
        @include desktop {
            margin-bottom: 0;
        }
    }
    .btn__signup {
        border: 2px solid black;
    }
}



.menu__close {
    position: absolute;
    top: 2.3rem;
    right: 2.3rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.menu__close:hover {
    color: var(--azul-principal);
}

/* Show Menu */

.menu__links--show {
    right: 0;
}

/* Active link */

.active-link {
    color: var(--azul-principal);
}
//Main
.main {
    margin-top: 8rem;
    .main__hero {
        img {
            display: block;
            margin: 0 auto;
            width: -webkit-fill-available;
            max-width: 50rem;
        }
    }
    .main__info {
        width: 90%;
        margin: 4rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 3.4rem;
        }
        p {
            font-size: 1.6rem;
            color: $mediumGray;
            text-align: center;
            margin: 2rem 0 2.3rem;
            line-height: 1.6;
        }
        .main__info--btn {
            background-color: $almostBlack;
            color: $almostWhite;
            padding: 1.5rem 2.5rem;
            border-radius: 1.5rem;
        }
        .main__info--footer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5rem;
            img {
                width: 7rem;
            }
        }
    }
}

// Footer
.attribution {
    margin-top: 2rem;
    font-size: 1.4rem;
    text-align: center;
    a {
        color: hsl(242, 100%, 80%);
        &:hover {
            color: hsl(242, 100%, 60%);
        }
    }
}

